
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Volunteer Registration Form</title>
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>
    <div class="container">
        <h1>Volunteer Edit Form</h1>
        <form action="/update/<%=ediVolunteer.id%>" method="post">
            <div class="form-group">
                <label for="firstName">First Name:</label>
                <input type="text" id="firstName" name="fname" value="<%=ediVolunteer.name%>" >
            </div>
            <div class="form-group">
                <label for="email">Email:</label>
                <input type="email" id="email" name="email" value="<%=ediVolunteer.email%>" >
            </div>
            <div class="form-group">
                <label for="phone">Phone Number:</label>
                <input type="tel" id="phone" name="phone" value="<%=ediVolunteer.phone%>" >
            </div>
            <div class="form-group">
                <label for="dob">Skills:</label>
                <input type="text" id="dob" name="Skills" value="<%=ediVolunteer.Skills%>" >
            </div>
            <div class="form-group">
                <button type="submit">Update</button>
            </div>
        </form>
    </div>
    
</body>
</html>
